extends base.pug

block content 
    div#videoContainer(data-video-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__palyBtn 
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range" step="1" value=0 min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range" step="0.05" value=0.5 min="0" max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand

    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    
    if loggedIn
        div.video__add-comments
            form.video__add-comment-form#commentForm
                textarea#commentArea(cols="30", rows="10", placeholder="Write a nice commment.")
                button Add Comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-comment-id=comment._id)
                    i.fas.fa-comment
                    span  #{comment.contents}
                    //- 해당 comment 입력한 사람과 로그인 유저가 동일할 경우
                    if String(comment.owner._id) === String(loggedInUser._id)
                        a(href=`/api/comment/${comment._id}/delete`) ❌

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")